{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <script type="text/javascript">
        const key = "{{STRIPE_PUBLIC_KEY}}"
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Стиль footer-a для главной страницы -->
    {% block css %}
    {% endblock %}

    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">
    <title>{{ title }}</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url "catalog:index" %}">Home</a>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <div class="row mt-1 position-fixed z-3">
            <!-- Значек корзины, вызывает модальное окно -->
            {% block modal_cart %}

            {% endblock %}
            <!-- Закончилась разметка модального окна -->
        </div>
    </div>
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-2">
                <!-- Пустой блок на Ваше усмотрение -->
            </div>
            <div class="col-lg-10">
                <!-- Контент на странице -->
                {% include "includes/notifications.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>

{% block footer %}{% endblock %}


<script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
<script src="{% static "deps/js/jquery-ajax.js" %}"></script>
<script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>

</body>

</html>